.frontpage {
	height: 100vh;
	 background-color: #c3c3c3;
}

#heading {
    color: #333333;
    text-align: left;
}
#aboutme {
    color: #333333;
    text-align: left;
}

.nav-titles{
	font-family: 'Nunito', sans-serif;
    font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}

.slashspeak {
    padding: 20px;
    width: 50%;
}

#slashspeakmockup {
    float: left;
    border-left: 8px solid #333333;
    border-radius: 4px;
    padding-left: 15px;
}
.img-html{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-left: 15px;
}

.img-python{
	width: 150px;	
	height: 150px;
	margin-top: 30px;
	margin-left: 15px;
}

.img-css{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-left: 15px;
}

.img-js{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-left: 15px;
}

.img-django{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-left: 15px;	
}

.projectsnav{
    margin-top: 50px;
    font-size: 50px;
    width: 100vw;
    height: 100px;
}
.skillsnav{
    font-size: 50px;
    width: 100vw;
    text-align: center;
}

.skills{
height: 100vh;
}

.projects{
	height: 100vh;
	background-color: #c3c3c3;
}
footer{
	font-family: 'Nunito', sans-serif;
	height: 100px;
	color: #dedede;
	background-color: #333333;
}